<html>
    <head>
        <title>PureChart | Docs</title>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= vite_client_tag %>

        <%= vite_javascript_tag 'index.jsx' %>
    </head>

    <body>
        <main id="app">

        </main>
    </body>

</html>