/*
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter:wght@400;700&family=Unbounded:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

a.button {
    background-color: white;
    border-radius: 2px;
    border: none;
    outline: none;

    padding: 16px;

    font-family: 'Unbounded', sans-serif;
    color: black;

    width: fit-content;
    text-decoration: none;
    display: block;
}